<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/assets/css/city.css">
    <title>Tour đi <%= city.name %></title>
</head>

<body>
    <div class="container">
        <div class="container__header">
            <%- include('header') -%>
        </div>
        <div class="container__content">

            <div class="container__content__nav">
                <!-- Bộ lọc tìm kiếm -->
                <div class="container__content__nav__part">
                    <div class="container__content__nav__part__title ">
                        <div class="font--small font--bold">Bộ lọc tìm kiếm</div>
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <!-- Các option của bộ lọc tìm kiếm -->
                    <div class="container__content__nav__part__content">
                        <!-- Theo mức giá -->
                        <div class="container__content__nav__part__content__option">
                            <div class="container__content__nav__part__content__option__title">
                                <div class="font--small">Theo mức giá</div>
                                <i class="fas fa-chevron-down"></i>
                                <i class="fas fa-chevron-up"></i>
                            </div>

                            <div class="container__content__nav__part__content__option__content">
                                <div class="container__content__nav__part__content__option__content__filter">
                                    <input type="radio" name="price" id="">
                                    <div class="font font--small">Dưới 2.000.000</div>
                                </div>
                                <div class="container__content__nav__part__content__option__content__filter">
                                    <input type="radio" name="price" id="">
                                    <div class="font font--small">2.000.000 - 4.000.000</div>
                                </div>
                                <div class="container__content__nav__part__content__option__content__filter">
                                    <input type="radio" name="price" id="">
                                    <div class="font font--small">4.000.000 - 6.000.000</div>
                                </div>
                                <div class="container__content__nav__part__content__option__content__filter">
                                    <input type="radio" name="price" id="">
                                    <div class="font font--small">6.000.000 - 8.000.000</div>
                                </div>
                                <div class="container__content__nav__part__content__option__content__filter">
                                    <input type="radio" name="price" id="">
                                    <div class="font font--small">8.000.000 - 10.000.000</div>
                                </div>
                            </div>
                        </div>
                        <!-- Lọc theo mức giá -->

                        <!-- Theo loại tour -->
                        <div class="container__content__nav__part__content__option">
                            <div class="container__content__nav__part__content__option__title">
                                <div class="font--small">Loại Tour</div>
                                <i class="fas fa-chevron-down"></i>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="container__content__nav__part__content__option__content">
                                <div class="container__content__nav__part__content__option__content__filter">
                                    <input type="radio" name="style-of-tour" id="">
                                    <div class="font font--small">Tour khời hành hàng ngày</div>
                                </div>
                                <div class="container__content__nav__part__content__option__content__filter">
                                    <input type="radio" name="style-of-tour" id="">
                                    <div class="font font--small">Trọn gói</div>
                                </div>
                                <div class="container__content__nav__part__content__option__content__filter">
                                    <input type="radio" name="style-of-tour" id="">
                                    <div class="font font--small">Tour cho đoàn, tổ chức</div>
                                </div>
                            </div>
                        </div>
                        <!-- Lọc theo loại tour -->

                    </div>
                    <!-- Option của bộ lọc tìm kiếm -->
                </div>
                <!-- Bộ lọc tìm kiếm -->
            </div>

            <!-- Các tour du lịch -->
            <div class="container__content__post">
                <div class="container__content__post__place">
                    <div class="font font--bold font--big">Tour đi <%= city.name %>  </div>
                </div>

                <!-- tất cả các bài đăng về tour tại địa điểm -->
                <div class="part">
                    <% posts.forEach(post => { %>
                        <!-- bài đăng của tour -->
                    <div class="block">

                        <div class="container__content__post__detail">
                            <!-- tiêu đề tour du lịch -->
                            <div class="container__content__post__detail__title">
                                <div class="font font--normal font--bold font--space">
                                    <%= post.name %>
                                </div>
                            </div>
                            <!-- end-tiêu đề tour du lịch -->

                            <!-- chi tiết tour du lịch -->
                            <div class="container__content__post__detail__content">
                                <a href="/post/<%= post._id %>" class="bg-img"
                                    style="background-image: url('<%= post.images[0].src %>');">

                                </a>
                                <div class="container__content__post__detail__content__info">
                                    <div class="font--space">
                                        <span class="font font--bold">Ngày khởi hành: </span>
                                        <span class="font font--blue"><%= post.departureDate %></span>
                                    </div>
                                    <div class="font--space">
                                        <span class="font font--bold">Địa điểm khởi hành: </span>
                                        <span class="font font--blue"><%= post.departurePlace %></span>
                                    </div>
                                    <div class="font--space">
                                        <span class="font font--bold">Thời gian: </span>
                                        <span class="font font--blue"><%= post.time %></span>
                                    </div>
                                    <div class="font--space">
                                        <span class="font font--bold">Phương tiện: </span>
                                        <span class="font font--blue"><%= post.vehicle %></span>
                                    </div>

                                </div>
                            </div>
                            <!-- end-chi tiết tour du lịch -->
                        </div>

                        <!-- giá của tour -->
                        <div class="container__content__post__price">
                            <div class="font--normal font--bold font--green"><%= post.cost %></div>
                            <a href = "/post/<%= post._id %>" class="btn btn--blue font">Xem tour</a>
                        </div>
                    </div>
                    <!-- kết thúc bài đăng của tour -->
                    <% }) %>
                    


                </div>



            </div>
        </div>
        <!-- END__POST -->
    </div>
    <!-- END__CONTENT -->
    </div>
</body>

</html>