<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/assets/css/home.css">
    <title>DiscoverVietnam</title>
</head>

<body>
    <div class="container">
        <div class="container__header">
            <%- include('header') -%>
            <div class="container__header__content">
                <div class="container__header__content__search">
                    <div class="font font--normal font--bold">Bạn muốn đi du lịch ở đâu?</div>
                    <input type="text" placeholder="Địa điểm ..."></br>
                    <button class="font btn btn--green">Tìm tour</button>
                </div>
            </div>
        </div>
        <!-- END__HEADER -->

        <div class="container__content">
            <div class="container__content__cities">
                <div class="container__content__cities__title">
                    <div class="font font--bold font--normal">Tour trong nước</div>
                </div>
                <div class="part">
                    <% cities.forEach(city => { %>
                    <a href="/city/<%= city.nameID %>" class="container__content__cities__city block chosen">
                        <div class="bg-img" style="background-image: url('<%= city.images[0].src %>');">
                            <h1><%= city.name %> </h1>
                        </div>
                    </a>
                    <% }) %>



                </div>



            </div>
            <!-- END__CITIES -->


        </div>
        <!-- END__CONTENT -->

        <div class="container__footer">
            <%- include('footer') -%>
        </div>
    </div>

</body>

</html>