<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/assets/css/post.css">
    <title><%= post.name %></title>
</head>

<body>
    <div class="container">
        <div class="container__header">
            <%- include('header') -%>
        </div>
        <div class="container__content">

            <!-- content__header -->
            <div class="container__content__header">
                <% post.images.forEach(image => { %>
                <div class="container__content__header__image" style="background-image: url('<%= image.src %>')"></div>
                <% }) %>

            </div>
            <!-- END_CONTENT_HEADER -->

            <!-- Content_center -->
            <div class="container__content__center">
                <!-- Tên tour -->
                <div class="container__content__center__title">
                    <div class="font font--big font--bold font--blue"><%= post.name %> </div>
                </div>

                <!-- Chi tiết tour -->
                <div class="container__content__center__part">

                    <div class="container__content__center__part__content">
                        <table>
                            <tr>
                                <td class="first font font--bold">Ngày khởi hành </td>
                                <td class="second font"><%= post.departureDate %> </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td class="first font font--bold">Địa điểm khởi hành </td>
                                <td class="second">
                                    <%= post.departurePlace %>
                                </td>
                            </tr>
                            <tr>
                                <td class="first font font--bold">Thời gian </td>
                                <td class="second">
                                    <%= post.time %>
                                </td>
                            </tr>
                            <tr>
                                <td class="first font font--bold">Phương tiện </td>
                                <td class="second">
                                    <%= post.vehicle %>
                                </td>
                            </tr>

                        </table>
                        <div class="container__content__center__part__content__order">
                            <div class="font font--normal font--green font--bold"><%= post.cost %> </div>
                            <button class="btn btn--blue font">Đặt ngay</button>
                        </div>

                    </div>
                </div>
                <!-- hết chi tiết tour -->

                <!-- Thông tin nhà cung cấp -->
                <div class="container__content__center__part">

                    <div class="container__content__center__part__content">
                        <table>
                            <tr>
                                <td class="first font font--bold">Tên nhà cung cấp </td>
                                <td class="second font"></td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td class="first font font--bold">Địa chỉ</td>
                                <td class="second">

                                </td>
                            </tr>
                            <tr>
                                <td class="first font font--bold">SĐT liên hệ </td>
                                <td class="second">

                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
                <!-- Hết thông tin nhà cung cấp -->

                <!-- Lịch trình -->
                <div class="container__content__center__part">
                    <div class="container__content__center__part__title">
                        <div class="font font--normal font--bold">Lịch trình</div>
                    </div>
                    <div class="container__content__center__part__content">
                        <table>
                            <% post.schedule.forEach(schedule => { %>
                            <tr>
                                <td class="first time font font--bold"> <%= schedule.time %> </td>
                                <td class="second">
                                    <div class="font font--bold font--space"><%= schedule.title %></div>
                                    <div class="font"><%= schedule.detail %></div>
                                </td>
                            </tr>
                            <% }) %>


                        </table>
                    </div>
                </div>
                <!-- Hết lịch trình -->
                <!-- Cam kết -->
                <div class="container__content__center__part">
                    <div class="container__content__center__part__title">
                        <div class="font font--normal font--bold">Cam kết</div>
                    </div>
                    <div id="policy" class="container__content__center__part__content">
                        <table>
                            <% post.policy.forEach(policy => { %>
                            <tr>
                                <td class="second">
                                    
                                    <div class="font"><%= policy.detail %></div>
                                </td>
                            </tr>
                            <% }) %>

                        </table>
                    </div>
                    
                </div>
                <!-- Hết cam kết -->

            </div>
            <!-- end_content_center -->

        </div>
        <!-- END_CONTENT -->

</body>

<script src="/assets/js/post.js"></script>

</html>